NodeRed Flows/Arduino MKR IMU Fall Detect flows (no creds).json
[{"id":"7e5ac662.c23008","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"2dd403f5.13a08c","type":"tab","label":"Prov & B-Num","disabled":false,"info":""},{"id":"61c08bbe.6b1cb4","type":"tab","label":"Request Env details","disabled":false,"info":""},{"id":"aa12517d.49e148","type":"tab","label":"Device Alerts","disabled":false,"info":""},{"id":"b41b759a.c8619","type":"tab","label":"Send SMS","disabled":false,"info":""},{"id":"83432450.dc3668","type":"ibmiot","z":"","name":"Watson IOT 2","keepalive":"60","serverName":"INSERT_HERE.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"98a0f335.5f7c98","type":"ibmiot","z":"","name":"Watson IOT","keepalive":"60","serverName":"INSERT_HERE.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ffe246ec.4fa54","type":"ibmiot out","z":"61c08bbe.6b1cb4","authentication":"apiKey","apiKey":"83432450.dc3668","outputType":"cmd","deviceId":"mkr2","deviceType":"mkr","eventCommandType":"trig","format":"text","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":400,"y":100,"wires":[]},{"id":"5719f248.eaa15c","type":"inject","z":"61c08bbe.6b1cb4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"on","payloadType":"str","x":250,"y":100,"wires":[["ffe246ec.4fa54"]]},{"id":"beec783d.a3bdf8","type":"comment","z":"61c08bbe.6b1cb4","name":"trigger device","info":"","x":350,"y":40,"wires":[]},{"id":"ce0a62c4.95e0a","type":"ibmiot in","z":"61c08bbe.6b1cb4","authentication":"apiKey","apiKey":"83432450.dc3668","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mkr2","applicationId":"","deviceType":"mkr","eventType":"sensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":220,"y":240,"wires":[["2d7fda82.d96f66"]]},{"id":"2d7fda82.d96f66","type":"function","z":"61c08bbe.6b1cb4","name":"Store Global Variables","func":"\nglobal.set(\"temp\",msg.payload.temp);\nglobal.set(\"humidity\",msg.payload.humidity);\nglobal.set(\"pressure\",msg.payload.pressure);\nglobal.set(\"light\",msg.payload.illuminance);\nglobal.set(\"uv\",msg.payload.uvi);\nglobal.set(\"time\", Date.now());\n\nmsg.payload.dt = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["171b727.13fae8e"]]},{"id":"171b727.13fae8e","type":"debug","z":"61c08bbe.6b1cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"92ac542a.9352a","type":"comment","z":"61c08bbe.6b1cb4","name":"Store Data from device","info":"","x":360,"y":180,"wires":[]},{"id":"e4be2def.4a9258","type":"comment","z":"61c08bbe.6b1cb4","name":"User SMS in","info":"","x":350,"y":300,"wires":[]},{"id":"8b9dad12.557198","type":"http in","z":"61c08bbe.6b1cb4","name":"SMS in","url":"/ah","method":"post","upload":false,"swaggerDoc":"","x":230,"y":360,"wires":[["bec57ec4.86d9b","bb1c95a2.037f","7d98e6eb.40fd2"]]},{"id":"bec57ec4.86d9b","type":"debug","z":"61c08bbe.6b1cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"bb1c95a2.037f","type":"function","z":"61c08bbe.6b1cb4","name":"match response","func":"msg.sms = msg.payload;\n\nmatchWord = msg.sms.body.toLowerCase().trim();\n\ndt = ((Date.now() - global.get(\"time\")) / 1000)\n\nif (matchWord==\"temp\"){\n    msg.resp = \"The Temp is \"+global.get(\"temp\")+\" celcius.\";    \n} else if (matchWord==\"humidity\"){\n    msg.resp = \"The humidity is \"+global.get(\"humidity\")+\"%.\";\n} else if (matchWord==\"pressure\"){\n    msg.resp = \"The pressure is \"+global.get(\"pressure\")+\".\";\n} else if (matchWord==\"light\"){\n    msg.resp = \"The light is \"+global.get(\"light\")+\" lux.\";\n} else if (matchWord==\"uv\"){\n    msg.resp = \"The UV index is at \"+global.get(\"uv\")+\".\";\n} else {\n    msg.resp = \"Help menu > Respond back with one of the following. \\n\\nHumidity, Temp, UV or Light.\";\n}\n\nmsg.resp = msg.resp + \" Last updated \"+Math.floor(dt)+\" seconds ago.\";\n\nmsg.smsout = { \n    \"to\": msg.sms.from,\n    \"body\": msg.resp\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":360,"wires":[["e89cde34.a014d8"]]},{"id":"e89cde34.a014d8","type":"link out","z":"61c08bbe.6b1cb4","name":"SMS Out","links":["6d5e1b0c.c38fe4"],"x":535,"y":360,"wires":[]},{"id":"f199165a.d342e8","type":"function","z":"b41b759a.c8619","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'INSERT_HERE',\n    'client_secret': 'INSERT_HERE',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":240,"wires":[["2e056d86.9bcbd2"]]},{"id":"2e056d86.9bcbd2","type":"http request","z":"b41b759a.c8619","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":240,"wires":[["56beef23.e96bb"]]},{"id":"6d5e1b0c.c38fe4","type":"link in","z":"b41b759a.c8619","name":"SMS Send","links":["e89cde34.a014d8","63c4a301.626b6c"],"x":75,"y":240,"wires":[["f199165a.d342e8"]]},{"id":"56beef23.e96bb","type":"json","z":"b41b759a.c8619","name":"","property":"payload","action":"","pretty":false,"x":550,"y":240,"wires":[["71ce03b0.16146c","69ee1395.b411b4"]]},{"id":"71ce03b0.16146c","type":"debug","z":"b41b759a.c8619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":240,"wires":[]},{"id":"69ee1395.b411b4","type":"function","z":"b41b759a.c8619","name":"Send SMS","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/sms\"\nmsg.payload = {\n    'to': msg.smsout.to,\n    'body': msg.smsout.body\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":320,"wires":[["faa38b3.f674f78"]]},{"id":"faa38b3.f674f78","type":"http request","z":"b41b759a.c8619","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":320,"wires":[["799e299a.e34728"]]},{"id":"799e299a.e34728","type":"debug","z":"b41b759a.c8619","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":320,"wires":[]},{"id":"4c7cb7ea.454178","type":"comment","z":"b41b759a.c8619","name":"TelstraDev Authenticate and Send SMS","info":"","x":330,"y":120,"wires":[]},{"id":"75f73012.287c5","type":"comment","z":"7e5ac662.c23008","name":"Getting Started with Node-Red","info":"","x":330,"y":100,"wires":[]},{"id":"d050abdc.c7cea8","type":"inject","z":"7e5ac662.c23008","name":"Going","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["9a76abc1.36e208"]]},{"id":"9a76abc1.36e208","type":"function","z":"7e5ac662.c23008","name":"With The","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["15f24861.213df8"]]},{"id":"15f24861.213df8","type":"debug","z":"7e5ac662.c23008","name":"Flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"e8e0861f.b97678","type":"debug","z":"aa12517d.49e148","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"4d8018cc.dc1098","type":"comment","z":"aa12517d.49e148","name":"Device detects a fall","info":"","x":370,"y":120,"wires":[]},{"id":"5d518631.67bcd8","type":"debug","z":"2dd403f5.13a08c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":380,"wires":[]},{"id":"3beca3f1.ca3f24","type":"http request","z":"2dd403f5.13a08c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":380,"wires":[["5d518631.67bcd8"]]},{"id":"c337745f.93fb8","type":"function","z":"2dd403f5.13a08c","name":"B-Num reg","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/freetrial/bnum\"\nmsg.payload = {\n    'bnum': ['+61_INSERT_HERE','+61_INSERT_HERE'],\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":380,"wires":[["3beca3f1.ca3f24"]]},{"id":"7f167c0f.1c0f1c","type":"json","z":"2dd403f5.13a08c","name":"","property":"payload","action":"","pretty":false,"x":620,"y":300,"wires":[["149d27e9.1420c","c337745f.93fb8"]]},{"id":"8bd06aad.ff8ca","type":"http request","z":"2dd403f5.13a08c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":300,"wires":[["7f167c0f.1c0f1c"]]},{"id":"149d27e9.1420c","type":"debug","z":"2dd403f5.13a08c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":300,"wires":[]},{"id":"4f861e4f.8c246","type":"function","z":"2dd403f5.13a08c","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'LgownbJFRi5Lam3aN8R7uy1Y1v3eoOGh',\n    'client_secret': '2YGg2OCjePDG9a0F',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["8bd06aad.ff8ca"]]},{"id":"38d5fa3a.c0725e","type":"inject","z":"2dd403f5.13a08c","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":90,"y":300,"wires":[["4f861e4f.8c246"]]},{"id":"df0d0f40.294ee8","type":"inject","z":"b41b759a.c8619","d":true,"name":"Inject SMS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["f199165a.d342e8"]]},{"id":"16e7b686.320e01","type":"debug","z":"2dd403f5.13a08c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":180,"wires":[]},{"id":"6225b99a.82c178","type":"http request","z":"2dd403f5.13a08c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["16e7b686.320e01"]]},{"id":"a665272.38c5cd8","type":"function","z":"2dd403f5.13a08c","name":"Prov Number","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/provisioning/subscriptions\"\nmsg.payload = {\n    'notifyURL': 'INSERT_HERE/YOUR_ENDPOINT'    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":180,"wires":[["6225b99a.82c178"]]},{"id":"f1a82adc.01d038","type":"json","z":"2dd403f5.13a08c","name":"","property":"payload","action":"","pretty":false,"x":630,"y":100,"wires":[["1faeb0b2.155597","a665272.38c5cd8"]]},{"id":"1faeb0b2.155597","type":"debug","z":"2dd403f5.13a08c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":100,"wires":[]},{"id":"bfd7427c.a5ef7","type":"http request","z":"2dd403f5.13a08c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":100,"wires":[["f1a82adc.01d038"]]},{"id":"45ef22fa.91373c","type":"function","z":"2dd403f5.13a08c","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'LgownbJFRi5Lam3aN8R7uy1Y1v3eoOGh',\n    'client_secret': '2YGg2OCjePDG9a0F',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["bfd7427c.a5ef7"]]},{"id":"c8862e9a.3c65c","type":"inject","z":"2dd403f5.13a08c","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":90,"y":100,"wires":[["45ef22fa.91373c"]]},{"id":"e836fa3c.fdc668","type":"comment","z":"2dd403f5.13a08c","name":"Provision Virtual Mobile Subscription","info":"","x":500,"y":40,"wires":[]},{"id":"7d98e6eb.40fd2","type":"http response","z":"61c08bbe.6b1cb4","name":"Everythings Fine","statusCode":"200","headers":{},"x":420,"y":420,"wires":[]},{"id":"43e05b8e.a27604","type":"comment","z":"2dd403f5.13a08c","name":"Register B Numbers (free trial only)","info":"","x":500,"y":240,"wires":[]},{"id":"b495013a.a63ce","type":"ibmiot in","z":"aa12517d.49e148","authentication":"apiKey","apiKey":"98a0f335.5f7c98","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mkr2","applicationId":"","deviceType":"mkr","eventType":"fall","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":190,"y":200,"wires":[["4918b75f.95843"]]},{"id":"4918b75f.95843","type":"function","z":"aa12517d.49e148","name":"Prep SMS","func":"msg.smsout = { \n    \"to\": ['+61_INSERT_HERE','+61_INSERT_HERE'],\n    \"body\": \"A device has had a fall\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":200,"wires":[["e8e0861f.b97678","63c4a301.626b6c"]]},{"id":"63c4a301.626b6c","type":"link out","z":"aa12517d.49e148","name":"SMS Out","links":["6d5e1b0c.c38fe4"],"x":555,"y":200,"wires":[]}]